$page-font:"SF-Pro", "Helvetica", sans-serif;
$page-font-bold: "SF-Pro-bold", "Helvetica", sans-serif;
$second-font:"Open Sans", "Arial", sans;

$whitish:#FAFAFA;
$black:#2D3136;
$purple:#674FA1;
$inspect:rgba(211,233,246,0.4);

// global //
html, body, header {
	margin:0;
	padding:0;
	font-family:$page-font;
}

// font-styling //
h1, h2, h3, p {
	color:#000000;
	margin:0 0 15px 0;
	padding:0;
}

//--- white text include class .white
h1.white, h2.white, p.white {
	color:#FFFFFF;
}

